/*公共样式*/
*{margin:0; padding:0;}
html body{font-size:17px;font-family:"Microsoft Yi Hei"}
a{color:black;text-decoration: none;}
ul li ol li {list-style-type:none;}

/*按钮样式*/
.btn{
	border:0;
	color:#fff;
	padding:1em 2em;
	margin:10px;
	background-color:coral;
}
.btn:hover{background-color:#333;}

/*弹窗样式*/
.box{
	display:none;
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:1;
	overflow:auto;
	background-color:rgba(0 , 0 , 0 , 0.5);
	animation-name:boxopen;
	animation-duration:1s;
}
@keyframes boxopen{
	from{opacity:0}
	to{opacity:1}
}

.box-content{
	width:85%;
	margin:15% auto;
	background-color:#fff;
	box-shadow:0 5px 8px 0 rgba(0 , 0 , 0 , 0.2),0 7px 20px 0 rgba(0 , 0 ,0 ,0.17);
}
.box-top{
	position:relative;
	color:#fff;
	padding:10px;
	background-color:coral;
}
.box-top .icon{
	color:#fff;
	position:absolute;
	top:10px;
	right:10px;
	font-size:30px;
}
.box-top .icon:hover,.box-top .icon:focus{
	color:#000;
	cursor:pointer;
}
.box-body{
	padding:10px 20px;
}
.box-footer{
	padding:10px;
	color:#fff;
	text-align:center;
	background-color:coral;
}

